body {
    background-image: url("../img/betty_boop.jpeg");
    background-size: cover;
}

body {
    display: inline-block;
    margin: 8px;
}

body {
    font-family: Arial, "serif";
    padding: 18px;
    font-size: 150%;
    color: white;
}

.sidenav {
  height: auto;
  width: 300px;
  position: sticky;
  float: right;
  color: white;
  overflow-x: hidden;
  padding-top: 20px;
  display: inline-block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  display: inline-block;
}

.sidenav a:hover {
  color: red;
}

div#content {
  padding: 30px;
  height: 115vh;
}

h1 {
  text-align: center;
  font-family: "special elite", cursive;
  font-weight: 800;
  color: gold;
  text-decoration: underline;
  letter-spacing: 10px

}

h2 {
  text-align: left;
  font-family: "special elite", cursive;
  font-weight: 800;
  color: gold;
  letter-spacing: 5px;
}

p{
  font-family: "garamond", serif;
  background-color: maroon;
}

li{
  font-family: "garamond", serif;
  color: white;
  background-color: maroon;
}

img{
  float: right;
  width: 100px;
  height: 200px;
  padding: 25px
  filter: saturate(300%)
  filter: hue-rotate(10 deg)blur();
}

a{
  text-decoration: underline;
  font-family: fantasy;
  border: dotted 6px gold;
  color: white;
  font-family: monospace;
}

a:hover
{
  color: grey;
}
