#home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
    background-image: url("../img/fire.jpeg");
    background-size: cover;
    padding: 30px;
    border: dashed 20px lightcyan;
    height: auto;
}

h1 {
  text-shadow: 0px 0px 10px yellow;
  font-family: sans-serif;
  color: darkblue;
  text-align: center;
  letter-spacing: 10px;
  font-size: 300%;
  box-shadow: 3px 3px 5px yellow;
}

h2 {
  text-align: center;
  font-family: monospace;
  font-size: 200%;
  color: white;
  letter-spacing: 5px;
  border-radius: 25px;
  border: dotted 2px white;
}

p{
  font-family: 'Courier New', monospace;
  font-weight: bolder;
  font-size: 100%;
  color: white;
}

li{
  font-family: 'Courier New', monospace;
  font-weight: bolder;
  color: black;
  text-align: left;
  font-size: 85%;
}

a{
  text-decoration: underline;
  font-family: 'Brush Script MT', cursive;
  font-size: 150%;
  border: dotted 4px darkgrey;
  color: darkblue;
  font-family: monospace;
  text-align: left;
}

footer {
  text-decoration: underline;
  font-family: 'Brush Script MT', cursive;
  font-size: 85%;
  color: darkblue;
  font-family: monospace;
  text-align: left;
  text-shadow: 0px 0px 10px mistyrose;
  box-shadow: 3px 3px 5px mediumslateblue;
}

.flexbox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px
  padding: 10px
  background-color: tan;
  border: dashed 2px;
  overflow: hidden;
}

@media screen and (max-width: 800px){
.minor-section {
  width: 100%
  min-width: 100%
  max-width: 100%
  background-color: black;
  color: white;
 }
}  
