body{
  background-color: #DDA0DD;
  font-family: Arial, "serif";
  padding: 18px;
  font-size: 100%;
  color: white;
}

h1{
  text-align: center;
  font-weight: 800;
  color: #FFC0CB;
  text-decoration: inherit;
  letter-spacing: 8px
}

h3{
  text-decoration: inherit;
  letter-spacing: 5px;
  text-align: center;
}

li {
  font-size: 80%;
  text-align: right;
}

.topnav{
  display:flex;
}

.sections{
  display:flex;
}

.sections div{
  border-radius: 15px 50px;
  border: 6px dotted;
  padding: 10px;
}

.challenge{
  flex:1;
  color: #DB7093;
}

.problems{
  flex:1;
  color: #DB7093;
}

.results{
  flex:1;
  color: #DB7093;
}
